.input-container {
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 5px;

    input {
      background-color: rgb(var(--input-background-color-rgb));
      border: 1px solid;
      min-width: 20px;
      padding: 10px;

      &:focus-visible {
        outline: 2px solid;
      }
    }
}
