.grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.counter-buttons {
  height: 40px;
}

.counter {
  font-size: x-large;
  min-width: 60px;
}
